openapi: 3.1.0
info:
    title: 'Thirukkural REST API'
    description: 'Connecting ancient Tamil philosophy with today’s digital landscape. Explore the ancient wisdom of Thirukkural, a classic Tamil text consisting of 1,330 couplets or Kurals, dealing with various aspects of life and morality.'
    version: 1.0.0
    license:
        name: 'MIT License'
        url: 'https://opensource.org/license/mit/'
servers:
    - url: 'https://kural.codewithram.dev/api'
      description: 'Production server'
    - url: 'http://localhost:3000/api'
      description: 'Local development server'
paths:
    /kural:
        get:
            tags:
                - Kural
            operationId: searchKurals
            summary: Search Kurals with pagination
            description: |
                Searches Kural couplets and their meanings using one or more comma-separated keywords.
                Matching is performed using substring search. Results are returned in pages, with chapter
                and section information included in each result.
            parameters:
                - name: q
                  in: query
                  required: false
                  description: Comma-separated keywords to search for in Kural text and meanings.
                  schema:
                      type: string
                  examples:
                      tamil:
                          summary: Search Tamil text
                          value: 'அறம்,அன்பு'
                      english:
                          summary: Search English meanings
                          value: 'virtue'
                - name: page
                  in: query
                  required: false
                  description: Page number. Defaults to 1 when omitted.
                  schema:
                      type: integer
                      default: 1
                - name: limit
                  in: query
                  required: false
                  description: Number of Kurals per page. Defaults to 10 when omitted.
                  schema:
                      type: integer
                      default: 10
                - name: section
                  in: query
                  required: false
                  description: Filter by section ID. Ignored when chapter is supplied.
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 3
                - name: chapter
                  in: query
                  required: false
                  description: Filter by chapter ID. Takes precedence over section.
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 133
            responses:
                200:
                    description: Paginated Kural search results
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/KuralSearchResponse'
    /kural/{id}:
        get:
            tags:
                - Kural
            summary: Get a kural by ID
            description: Returns the full details of a Thirukkural couplet by its number (1–1330).
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The Kural number to fetch.
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 1330
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Kural'
                404:
                    description: Kural not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
    /daily:
        get:
            tags:
                - Kural
            summary: Get today's kural
            description: Returns the Thirukkural couplet of the day based on the current date.
            responses:
                200:
                    description: Daily Kural
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Kural'
    /random:
        get:
            tags:
                - Kural
            summary: Get a random kural
            description: |
                Returns a random Thirukkural.  
                You can optionally filter by **chapter** or **section**.
            parameters:
                - name: chapter
                  in: query
                  required: false
                  description: Filter random kural by chapter (1–133 chapters)
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 133
                - name: section
                  in: query
                  required: false
                  description: Filter random kural by section (1–3 sections)
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 3

            responses:
                200:
                    description: Random Kural
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Kural'
    /sections:
        get:
            tags:
                - Taxonomy
            summary: List sections
            responses:
                200:
                    description: Sections with localized names and inclusive Kural ranges.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [sections]
                                properties:
                                    sections:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Section'
    /chapters:
        get:
            tags:
                - Taxonomy
            summary: List chapters
            parameters:
                - name: section
                  in: query
                  required: false
                  description: Filter chapters by section ID.
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 3
            responses:
                200:
                    description: Chapters with localized names and inclusive Kural ranges.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [chapters]
                                properties:
                                    chapters:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Chapter'
components:
    schemas:
        LocalizedNames:
            type: object
            description: Language-keyed display names. Keys use locale codes such as ta and en.
            additionalProperties:
                type: string
        TaxonomyReference:
            type: object
            required: [id, names]
            properties:
                id:
                    type: integer
                names:
                    $ref: '#/components/schemas/LocalizedNames'
        Section:
            type: object
            required: [id, names, firstKural, lastKural]
            properties:
                id: { type: integer, minimum: 1, maximum: 3 }
                names: { $ref: '#/components/schemas/LocalizedNames' }
                firstKural: { type: integer, minimum: 1, maximum: 1330 }
                lastKural: { type: integer, minimum: 1, maximum: 1330 }
        Chapter:
            type: object
            required: [id, sectionId, names, firstKural, lastKural]
            properties:
                id: { type: integer, minimum: 1, maximum: 133 }
                sectionId: { type: integer, minimum: 1, maximum: 3 }
                names: { $ref: '#/components/schemas/LocalizedNames' }
                firstKural: { type: integer, minimum: 1, maximum: 1330 }
                lastKural: { type: integer, minimum: 1, maximum: 1330 }
        Kural:
            type: object
            required:
                - chapter
                - kural
                - number
                - section
                - meaning
            properties:
                chapter:
                    $ref: '#/components/schemas/TaxonomyReference'
                kural:
                    type: array
                    description: Two lines of the Kural.
                    items:
                        type: string
                number:
                    type: integer
                    description: Kural number (1–1330).
                section:
                    $ref: '#/components/schemas/TaxonomyReference'
                meaning:
                    $ref: '#/components/schemas/Meaning'
        KuralSearchResponse:
            type: object
            required:
                - results
                - total
                - page
                - limit
            properties:
                results:
                    type: array
                    description: Kurals returned for the requested page.
                    items:
                        $ref: '#/components/schemas/Kural'
                total:
                    type: integer
                    description: Total number of matching Kurals before pagination.
                page:
                    type: integer
                    description: The requested page number.
                limit:
                    type: integer
                    description: The requested page size.
        Meaning:
            type: object
            required:
                - ta_mu_va
                - ta_salamon
                - en
                - ta_kalaignar
            properties:
                ta_mu_va:
                    type: string
                    description: Tamil meaning by Mu. Va.
                ta_salamon:
                    type: string
                    description: Tamil meaning by Solomon Pappayya.
                ta_kalaignar:
                    type: string
                    description: Tamil meaning by Kalaignar.
                en:
                    type: string
                    description: English meaning.
        ErrorResponse:
            type: object
            properties:
                error:
                    type: string
                    example: 'Kural with ID:2222 not found'
            required:
                - error
